   * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
   }

   body,
   html {
     padding: 0;
     margin: 0;
     background: #121212;
     font-family: sans-serif;
     color: #fff;
     height: 100vh;
     width: 100%;
     overflow-x: hidden;
     overflow-y: auto;
     flex-direction: column;
     top: 0;
     left: 0;
     align-items: center;
     scroll-behavior: smooth;
   }

   header {
     z-index: 1000;
     width: auto;
     position: sticky;
     top: 0;
     padding: 40px;
     gap: 30px;
     text-align: center;
     display: flex;
     flex-direction: row;
     align-items: baseline;
     justify-content: space-between;
     pointer-events: none;
   }


   header nav {
     pointer-events: auto;
   }

   header>h1 {
     flex-grow: 1;
     text-wrap: nowrap;
     padding: 0px 20px;
     justify-content: center;
     align-items: center;
     text-align: center;
   }

   .skillset-section {
     padding: 0 6rem;
   }

   section#hero {
     margin: 0;
     padding: 0 2rem;
     width: auto;
     height: fit-content;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 30px;
   }

   section#hero>article {
     width: auto;
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 50%;
   }

   section#hero>article>section {
     padding: 10px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 20px;
   }

   section#hero>article>section>button {
     padding: 15px 30px;
     min-width: 175px;
     font-weight: bold;
     filter: none;
     background-color: crimson;
     border: 1px solid crimson;
     border-radius: 5px;
     font-size: 1rem;
   }

   section#hero>article>section>button>a {
     text-decoration: none;
   }

   .scroll-offset {
     scroll-margin: 20vh;
   }

   .img-container {
     display: flex;
     margin: 10px;
     width: 400px;
     height: 400px;
     justify-content: center;
     align-items: baseline;
     overflow: hidden;
     position: relative;
   }

   .img-container>img {
     width: 100%;
     height: auto;
     object-fit: cover;
     border: 1px solid #333;
     border-radius: 30px;
   }

   .card {
     background: #1e1e1e;
     display: flex;
     min-width: fit-content;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin: 1rem;
     text-align: center;
     font-size: 1rem;
     font-weight: bold;
     color: #999;
     padding: 2rem;
     border-radius: 12px;
     box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
     transition: transform 0.3s;
     border: 1px solid #333;
   }

   .card>a {
     color: #ffffff;
     text-decoration: none;
     font-size: 1.2rem;
     font-weight: bold;
     margin-top: 20px;
   }

   .card:hover {
     transform: scale(1.04);

   }

   .card-list>.card:hover {
     filter: invert(1);
   }

   #projects {
     width: 100%;
     padding: 0 0 40px 0;
   }

   gallery {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     padding: 0 6rem;
     width: 100%;
     gap: 30px;
   }

   gallery>.card {
     padding: 10px;
     display: flex;
     justify-content: start;
     flex-direction: column;
     text-align: center;
     width: 100%;
     height: auto;
     margin: 0;
   }

   gallery>.card:hover {
     transform: none;
   }

   gallery>.card>img {
     background-color: rgb(24, 24, 24);
     padding: 20px 0;
     width: 100%;
     height: 150px;
     object-fit: contain;
     border: 1px solid #333;
     border-radius: 10px;
   }

   gallery>.card>h2 {
     color: #cccccc;
     margin: 10px 0 0 0;
     padding: 0;
     width: 100%;
   }

   gallery>.card>ul {
     display: grid;
     grid-template-columns: auto;
     text-align: center;
     margin: 0;
     padding: 0;
     width: 100%;
   }

   gallery>.card>p {
     padding: 10px 20px 20px;
     width: 100%;
     color: #555;
   }

   gallery>.card a {
     color: crimson;
     margin: 5px;
     width: fit-content;
     text-decoration: none;
   }

   gallery>.card a:hover {
     color: rgba(221, 149, 149, 0.623);
   }

   .list-container {
     box-sizing: border-box;
     width: 100%;
     height: 700px;
     border-radius: 12px;
     background-color: #0e0e0e;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #333;

     /* Add this: */
     perspective: 1000px;
     perspective-origin: center;
     overflow: hidden;
   }

   /* The entire list is tilted back */
   .card-list {
     display: grid;
     justify-content: center;
     grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
     height: 100%;
     width: 100%;
     overflow-y: scroll;
     padding: 2rem;
     scrollbar-width: thin;
     scrollbar-color: transparent transparent;
     background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='1' cy='1' r='1' fill='rgba(128,128,128,0.1)'/></svg>");
   }

   nav {
     display: flex;
     justify-content: center;
     align-items: center;
     top: 40px;
     right: 40px;
     color: #444444;
     background-color: #44444480;
     padding: 0px 0px;
     box-sizing: border-box;
     border: 1px solid #44444444;
     border-radius: 70px;
     font-size: 1rem;
     backdrop-filter: blur(75px);
     z-index: 100;
   }

   .menu-toggle {
     display: none;
     font-size: 28px;
     color: white;
     cursor: pointer;
     padding: 10px 20px;
     margin: 0px;
   }

   #sm {
     display: flex;
     justify-content: center;
     align-items: center;
     width: fit-content;
     top: 40px;
     left: 40px;
     color: #444444;
     background-color: #44444480;
     box-sizing: border-box;
     border: 1px solid #44444444;
     font-size: 1rem;
     backdrop-filter: blur(75px);
     z-index: 100;
   }

   #sm a {
     width: fit-content;
     height: fit-content;
     margin: 0;
     padding: 0;
   }

   #sm a img {
     display: block;
     margin: 0;
     padding: 0;
     filter: invert(1);
   }

   #sm li {
     height: 40px;
     width: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     border: 1px solid #444444;
   }

   #sm li:hover {
     border: 1px solid #ffffff20;
   }

   nav ul {
     list-style: none;
     padding: 0;
     margin: 0;
     border-radius: inherit;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
   }

   nav ul li {
     margin: 10px;
     background-color: #ffffff00;
     border-radius: inherit;
     padding: 10px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
   }

   nav ul li:hover {
     background-color: #ffffff20;
     backdrop-filter: blur(75px);
   }

   nav ul li a {
     color: #ffffff;
     text-decoration: none;
     font-size: large;
     font-weight: bold;
     margin: 0px 20px;
   }

   #top-btn {
     position: fixed;
     bottom: 20px;
     right: 40px;
     color: #ffffff;
     padding: 10px 20px;
     border-radius: 50px;
     cursor: pointer;
     z-index: 100;
     color: #444444;
     background-color: #44444480;
     padding: 15px 20px;
     box-sizing: border-box;
     border: 1px solid #444444;
     border-radius: 70px;
     font-size: 1rem;
     backdrop-filter: blur(75px);
     z-index: 100;
     outline: none;
   }

   button:hover,
   #top-btn:hover {
     filter: invert(1);
     transition: all 0.3s linear;
   }

   button,
   #top-btn a {
     text-decoration: none;
     color: #ffffff;
   }

   footer {
     z-index: 1000;
     margin: 40px 0 0 0;
     padding: 60px 40px;
     bottom: 0px;
     color: #888;
     background-color: #0c0c0c;
     font-size: 0.8rem;
     text-align: center;
   }

   footer p {
     margin: 20px;
     padding: 0;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     text-align: center;
     margin: 20px 0px;
   }

   h1 {
     font-size: 2.0rem;
   }

   h2 {
     font-size: 1.5rem;
   }

   h3 {
     font-size: 1.25rem;
   }

   h4 {
     font-size: 1.0rem;
   }

   h5 {
     font-size: 0.75rem;
   }

   h6 {
     font-size: 0.5rem;
   }

   #invert>img {
     filter: invert(1);
   }

   form {
     background-color: #1d1d1d;
     border-radius: 10px;
     margin: 0;
     color: white;
     min-height: fit-content;
     padding: 20px;
     height: 700px;
     border: 1px solid #333;
     width: 100%;
   }

   form>h1 {
     text-align: center;
     margin-bottom: 20px;
   }

   #me-section {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 30px;
     padding: 0 6rem;
   }

   .contact-section {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 100%;
     padding: 40px 2rem;
     gap: 30px;
   }

   #about-me {
     width: auto;
     min-width: fit-content;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
     gap: 20px;
     padding: 20px;
     background-color: #1d1d1d;
     border-radius: 10px;
     border: 1px solid #333;
     align-items: stretch;
   }

   #about-me h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     margin: 0;
   }

   #contact-me h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     margin: 0;
   }

   #about-me>img,
   #about-me>article {
     width: 100%;
     height: auto;
   }

   #about-me>img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 10px;
     border: 1px solid #333;
   }

   #about-me>article {
     text-align: center;
   }

   #about-me article>p {
     padding: 20px;
     line-height: 2;
     overflow-y: auto;
     direction: rtl;
   }

   #contact-me {
     min-width: fit-content;
     width: auto;
     height: 100%;
   }

   .contact-grid {
     display: grid;
     grid-template-areas:
       "first-name last-name"
       "email      phone-number"
       "message    message"
       "button     button";
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     width: auto;
   }

   #first-name {
     grid-area: first-name;
   }

   #last-name {
     grid-area: last-name;
   }

   #phone-number {
     grid-area: phone-number;
   }

   #email {
     grid-area: email;
   }

   #message {
     grid-area: message;
     height: 350px;
   }

   #submit {
     grid-area: button;
     padding: 15px;
     font-size: 1rem;
     background-color: #333;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     outline: none;
   }

   input,
   textarea {
     width: 100%;
     padding: 15px;
     border: 1px solid #333;
     border-radius: 5px;
     background-color: #2c2c2c;
     color: white;
     font-size: 1rem;
     resize: none;
     outline: none;
   }

   ::placeholder {
     color: #777;
   }

   @keyframes spin {
     from {
       transform: rotate(0deg);
     }

     to {
       transform: rotate(360deg);
     }
   }

   #spin {
     animation: spin 30s linear infinite;
   }

   @media screen and (max-width: 900px) {
     header {
       background-color: #44444480;
       border: 1px solid #44444444;
       backdrop-filter: blur(75px);
       display: flex;
       justify-content: baseline;
       align-items: stretch;
       flex-direction: row;
       height: fit-content;
       padding: 0;
       gap: 0;
       margin: 0 0 20px;
     }

     nav {
       border: none;
       filter: none;
       border-radius: 0;
       margin: 0;
       background-color: #00000000;
     }

     #sm,
     #web-nav {
       background-color: #00000000;
       filter: none;
       border: none;
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
     }

     #sm ul li {
       border-radius: 20px;
     }

     .menu-toggle {
       display: block;
       z-index: 1000;
       margin: 0;
       height: 100%;
       width: 100%;
     }

     .menu-toggle::before {
       text-align: center;
       content: '\2630';
       font-size: 28px;
       color: white;
       cursor: pointer;
     }

     #web-nav.open .menu-toggle::before {
       content: 'x';
       color: crimson;
       font-weight: bold;
     }

     .nav-links {
       display: none;
       flex-direction: column;
       border-top: 1px solid #ffffff38;
       width: 100%;
       margin: 0;
       gap: 0;
     }

     .nav-links.show {
       display: flex;
     }

     .nav-links li {
       width: 100%;
       justify-content: flex-start;
       margin: 0;
     }

     .nav-links li a {
       display: block;
       width: 100%;
       padding: 5px 0;
     }

     .skillset-section {
       padding: 0 5rem;
     }

     #me-section {
       padding: 0 5rem;
     }
   }